<a href="https://colab.research.google.com/github/Scottman625/Tibame-DeepLearning/blob/main/imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 9s 0us/step
84140032/84125825 [==============================] - 9s 0us/step

In [ ]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [ ]:
train_df = getdata("train")
test_df = getdata("test")

In [ ]:
train_df

                                                 content  sentiment
0      Fabulous actors, beautiful scenery, stark real...          1
1      This movie is humorous, charming, and easily b...          1
2      "The Golden Child" was Eddie Murphy's first fi...          1
3      The wonderfully urbane Ronald Coleman is show-...          1
4      As a baseball die-hard, this movie goes contra...          1
...                                                  ...        ...
24995  **** SPOILER WARNING ****<br /><br />Absolutel...          0
24996  This movie was bizarre, completely inexplicabl...          0
24997  This movie was terrible. The first half hour i...          0
24998  The writers and producers of this little outin...          0
24999  One of Frances Farmer's earliest movies; at 22...          0

[25000 rows x 2 columns]

In [ ]:
# 1. tokenize
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [ ]:
# tok.index_word
# tok.word_index

In [ ]:
# 2. sequenize: 文字化成數字(數字最大值:3000)
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0      2718   153   304  1381   632    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11    17     6  1975  1217     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
2         1  2043   503    13  1807    83  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         1  1664     6   120   130    14  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        14     3  2354   781   251    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995  1358  1706     7     7   424   206  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    11    17    13  1158   337     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11    17    13   391     1    83  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998     1   925     2  1179     4    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    28     4    99    30    56     6  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [ ]:
# 3. padding: 變成一樣長
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=512)
x_test_pad = pad_sequences(x_test_seq, maxlen=512)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    6    ...  505  506  507  508  509   510   511
0        0    0    0    0    0    0    0  ...  146  363    1  127    4    58   501
1        0    0    0    0    0    0    0  ...   42   84  220  718   96     7     7
2        0    0    0    0    0    0    0  ...    4  250    7    7   43     4   685
3        0    0    0    0    0    0    0  ...  353  413   60  172   19   212    64
4        0    0    0    0    0    0    0  ...  323    4   86    5   43     4     1
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
24995    0    0    0    0    0    0    0  ...    5   41   26  112  119    36    11
24996    0    0    0    0    0    0    0  ...  776  186   17   37  132   348  1236
24997    0    0    0    0    0    0    0  ...    2  190    9   43  550  1682    69
24998    0    0    0    0    0    0    0  ...  249    5   25   46   30     1  1621
24999    0    0    0    0    0    0    0  ...   23    3  334    2  866     3   334

[25000 rows x 512 columns]

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense

layers = [
    Embedding(3001, 128, mask_zero=True, input_length=512),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 512, 128)          384128

 global_average_pooling1d (G  (None, 128)              0
 lobalAveragePooling1D)

 dense (Dense)               (None, 2)                 258

=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 不用做one-hot
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [ ]:
import numpy as np
y_train = np.array(train_df["sentiment"])
y_test = np.array(test_df["sentiment"])

In [ ]:
# 1 round: 54000 / 100 -> 540次梯度下降
# verbose: 0(quiet) 1(full) 2(no progress bar)
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    ModelCheckpoint("imdb.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad,
          y_train,
          batch_size=100,
          epochs=100,
          verbose=2,
          validation_split=0.1,
          callbacks=callbacks)

Epoch 1/100
225/225 - 6s - loss: 0.5715 - accuracy: 0.7158 - val_loss: 0.4821 - val_accuracy: 0.7900 - 6s/epoch - 26ms/step
Epoch 2/100
225/225 - 5s - loss: 0.3623 - accuracy: 0.8641 - val_loss: 0.3755 - val_accuracy: 0.8376 - 5s/epoch - 23ms/step
Epoch 3/100
225/225 - 5s - loss: 0.2927 - accuracy: 0.8869 - val_loss: 0.3768 - val_accuracy: 0.8304 - 5s/epoch - 22ms/step
Epoch 4/100
225/225 - 5s - loss: 0.2619 - accuracy: 0.8980 - val_loss: 0.3177 - val_accuracy: 0.8688 - 5s/epoch - 23ms/step
Epoch 5/100
225/225 - 5s - loss: 0.2431 - accuracy: 0.9057 - val_loss: 0.2762 - val_accuracy: 0.8912 - 5s/epoch - 23ms/step
Epoch 6/100
225/225 - 5s - loss: 0.2310 - accuracy: 0.9090 - val_loss: 0.3352 - val_accuracy: 0.8640 - 5s/epoch - 23ms/step
Epoch 7/100
225/225 - 5s - loss: 0.2222 - accuracy: 0.9146 - val_loss: 0.2847 - val_accuracy: 0.8908 - 5s/epoch - 22ms/step
Epoch 8/100
225/225 - 5s - loss: 0.2144 - accuracy: 0.9174 - val_loss: 0.3131 - val_accuracy: 0.8788 - 5s/epoch - 23ms/step
Epoch 9/100
225/225 - 5s - loss: 0.2098 - accuracy: 0.9192 - val_loss: 0.3131 - val_accuracy: 0.8804 - 5s/epoch - 23ms/step
Epoch 10/100
225/225 - 5s - loss: 0.2048 - accuracy: 0.9217 - val_loss: 0.3409 - val_accuracy: 0.8684 - 5s/epoch - 23ms/step

In [ ]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.2866 - accuracy: 0.8814

[0.28663936257362366, 0.8813999891281128]

In [ ]:
text = "I've seen ever spider man movie and this one is the worst in my opinion. It is not edgy at all but rather just goofy silly as if made for young children. Zendaya is completely uninteresting as a love interest. There is zero chemistry between her and Tom holland. Dr strange is portrayed as a bumbling idiot. Just stupid overall."#@param {type:"string"}
# sequenize
seq = tok.texts_to_sequences([text])
seq_pad = pad_sequences(seq, maxlen=512)
proba = model.predict(seq_pad)[0]
trans = ["neg", "pos"]
for t, p in zip(trans, proba):
    print(t, "的機率:", p)

neg 的機率: 0.9988734
pos 的機率: 0.0011265744

In [ ]:
from tensorflow.keras.models import Sequential
layers = [
    Embedding(3001, 128, mask_zero=True), 
    GlobalAveragePooling1D()
]
partial = Sequential(layers)
partial.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, None, 128)         384128

 global_average_pooling1d_1   (None, 128)              0
 (GlobalAveragePooling1D)

=================================================================
Total params: 384,128
Trainable params: 384,128
Non-trainable params: 0
_________________________________________________________________

In [ ]:
w = model.layers[0].get_weights()
partial.layers[0].set_weights(w)

In [ ]:
from scipy.spatial.distance import cosine
words1 = "Accension is go to higher dimension."#@param {type:"string"}
seq = tok.texts_to_sequences([words1])
vector1 = partial.predict(seq)[0]
words2 = "Enlightment is to realize the truth."#@param {type:"string"}
seq = tok.texts_to_sequences([words2])
vector2 = partial.predict(seq)[0]
# cos: 1(正向相似) 0(不相干) -1(反向相似)
# 絕對值0.5以上, 代表兩個情緒蠻相似的
print("cos value:", 1 - cosine(vector1, vector2))

cos value: 0.6479371786117554

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
from tensorflow.keras.layers import SimpleRNN

layers = [
    # 3001(種) * 128(情緒) -> 384128
    Embedding(3001, 128, mask_zero=True, input_length=512),
    # 目前embedding(128 * 64) + 前一個(64 * 64) +64(bias) = 12352
    SimpleRNN(64),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 512, 128)          384128

 simple_rnn (SimpleRNN)      (None, 64)                12352

 dense_1 (Dense)             (None, 2)                 130

=================================================================
Total params: 396,610
Trainable params: 396,610
Non-trainable params: 0
_________________________________________________________________